# Compund Interest Calculation

This Notebooks explains the calculation for the compunt interest module and shocases its use.

**Calculation**

Amount of Capital Investment Block initially added in year $y_i$ for a year $y$ is $A_i(y_i)$

Minimum Interest Rate for Amount $A_i$ of a single Capital Investment Block added in year $y_i$ is $I_\textit{min}(y_i)$.

Current interest rate for a given year is $I(y_i)$.

Hence, sum $A_i(y_N)$ of initial amount and compound interest for a single Capital Investment Block of year $y_i$ in a year with $N>i$ will yield a recursive calculation:

$
\begin{align*}
A_i(y_N) &= A_i(y_\textit{N-1}) \cdot \big(1+\max\{I(y_\textit{N-1});I_\textit{min}(y_i)\}\big) \\
&= A_i(y_i) \cdot \prod_{j=i}^{N-1} \big(1+\max\{I(y_j);I_\textit{min}(y_i)\}\big)
\end{align*}
$

Total Amount $\textit{TA}_n(y_N)$ accumulated over the years $y_n...y_\textit{N-1}$ is the sum of all Capital Investment Blocks with added compund interests:

$
\begin{align*}
\textit{TA}_n(y_N) &= \sum_{i=n}^{N-1} \big( A_i(y_i) \cdot \prod_{j=i}^{N-1} \big(1+\max\{I(y_j);I_\textit{min}(y_i)\}\big) \big)
\end{align*}
$

**Key Indicators**

To express calculation results, the following key indicators are defined. 

With the definition of total investment $\textit{TI}_n(y_\textit{N-1})$ over the years $y_n...y_\textit{N-1}$ :

$
\begin{align*}
{TI}_n(y_\textit{N-1}) &= \sum_{i=n}^{N-1} A_i(y_i)
\end{align*}
$

and definition of interest rate $r$:

$
\begin{align*}
A(N) &= A(n) \, \big(1+r\big)^{N-n} \\ \Rightarrow
r &= \large10^{\log\big(\frac{A(N)}{A(n)}\big)\large/(N-n)}-1
\end{align*}
$

You can calculate effective interest rate (=rate as if amount would have been placed in total at first year)

$
\begin{align*}
r_\textit{eff} = \large10^{\log\big(\frac{\textit{TA}_n(y_N)}{{TI}_n(y_\textit{N-1})}\big)\large/(N-1-n)}-1
\end{align*}
$

This can be done in a similar way to calculate effective interest rates for each of Capital Investment Block above.

# Compund Interest Module
The compund_interest modukle and class CompoundInterest will calculate compund interests and put results into a dataframe. Sample Code Below

In [13]:
from compound_interest import CompoundInterest
# csv filename and colums (csv contains headers)

# you can downlaoad the sample files stored in the repo
# reference the respective file path
f = r"C:\<path_to>\compound_interest_sample.csv"
f_csv = r"C:\<path_to>\compound_interest_sample.csv"

# column name in csv containing interest
colname_min_interest = "MIN_INT"
colname_interest = "CURR_INT"
colname_amount = "AMNT"
colname_year = "YYYY"
# year min and max
y_min = 2010
y_max = 2021
# show calculation
debug = True
ci = CompoundInterest(fp=f,fp_save=f_csv,year_min=y_min,year_max=y_max,debug=debug,
                      colname_index=colname_year,colname_amount=colname_amount,
                      colname_min_interest=colname_min_interest,
                      colname_interest=colname_interest)

--- Investment Block (2010): 2000, Min.interest: 5.0% -------
Year 2010 Amount 2000  interest:6.0% => interest 6.0% (120)
Year 2011 Amount 2120  interest:6.0% => interest 6.0% (127)
Year 2012 Amount 2247  interest:6.0% => interest 6.0% (135)
Year 2013 Amount 2382  interest:6.0% => interest 6.0% (143)
Year 2014 Amount 2525  interest:4.0% => interest 5.0% (126)
Year 2015 Amount 2651  interest:4.0% => interest 5.0% (133)
Year 2016 Amount 2784  interest:4.0% => interest 5.0% (139)
Year 2017 Amount 2923  interest:4.0% => interest 5.0% (146)
Year 2018 Amount 3069  interest:3.0% => interest 5.0% (153)
Year 2019 Amount 3223  interest:3.0% => interest 5.0% (161)
Year 2020 Amount 3384  interest:2.0% => interest 5.0% (169)
Year 2021 Amount 3553  interest:1.0% => interest 5.0% (178)
Final amount: 3553 profit 1553 margin 78% avg margin 7%

--- Investment Block (2011): 1900, Min.interest: 5.0% -------
Year 2011 Amount 1900  interest:6.0% => interest 6.0% (114)
Year 2012 Amount 2014  interest:6.0% => interest 6.0% (121)
Year 2013 Amount 2135  interest:6.0% => interest 6.0% (128)
Year 2014 Amount 2263  interest:4.0% => interest 5.0% (113)
Year 2015 Amount 2376  interest:4.0% => interest 5.0% (119)
Year 2016 Amount 2495  interest:4.0% => interest 5.0% (125)
Year 2017 Amount 2620  interest:4.0% => interest 5.0% (131)
Year 2018 Amount 2751  interest:3.0% => interest 5.0% (138)
Year 2019 Amount 2888  interest:3.0% => interest 5.0% (144)
Year 2020 Amount 3033  interest:2.0% => interest 5.0% (152)
Year 2021 Amount 3184  interest:1.0% => interest 5.0% (159)
Final amount: 3184 profit 1284 margin 68% avg margin 7%

--- Investment Block (2012): 1800, Min.interest: 5.0% -------
Year 2012 Amount 1800  interest:6.0% => interest 6.0% (108)
Year 2013 Amount 1908  interest:6.0% => interest 6.0% (114)
Year 2014 Amount 2022  interest:4.0% => interest 5.0% (101)
Year 2015 Amount 2124  interest:4.0% => interest 5.0% (106)
Year 2016 Amount 2230  interest:4.0% => interest 5.0% (111)
Year 2017 Amount 2341  interest:4.0% => interest 5.0% (117)
Year 2018 Amount 2458  interest:3.0% => interest 5.0% (123)
Year 2019 Amount 2581  interest:3.0% => interest 5.0% (129)
Year 2020 Amount 2710  interest:2.0% => interest 5.0% (136)
Year 2021 Amount 2846  interest:1.0% => interest 5.0% (142)
Final amount: 2846 profit 1046 margin 58% avg margin 6%

--- Investment Block (2013): 1700, Min.interest: 5.0% -------
Year 2013 Amount 1700  interest:6.0% => interest 6.0% (102)
Year 2014 Amount 1802  interest:4.0% => interest 5.0% (90)
Year 2015 Amount 1892  interest:4.0% => interest 5.0% (95)
Year 2016 Amount 1987  interest:4.0% => interest 5.0% (99)
Year 2017 Amount 2086  interest:4.0% => interest 5.0% (104)
Year 2018 Amount 2190  interest:3.0% => interest 5.0% (110)
Year 2019 Amount 2300  interest:3.0% => interest 5.0% (115)
Year 2020 Amount 2415  interest:2.0% => interest 5.0% (121)
Year 2021 Amount 2536  interest:1.0% => interest 5.0% (127)
Final amount: 2536 profit 836 margin 49% avg margin 6%

--- Investment Block (2014): 1600, Min.interest: 3.0% -------
Year 2014 Amount 1600  interest:4.0% => interest 4.0% (64)
Year 2015 Amount 1664  interest:4.0% => interest 4.0% (67)
Year 2016 Amount 1731  interest:4.0% => interest 4.0% (69)
Year 2017 Amount 1800  interest:4.0% => interest 4.0% (72)
Year 2018 Amount 1872  interest:3.0% => interest 3.0% (56)
Year 2019 Amount 1928  interest:3.0% => interest 3.0% (58)
Year 2020 Amount 1986  interest:2.0% => interest 3.0% (60)
Year 2021 Amount 2045  interest:1.0% => interest 3.0% (61)
Final amount: 2045 profit 445 margin 28% avg margin 4%

--- Investment Block (2015): 1500, Min.interest: 3.0% -------
Year 2015 Amount 1500  interest:4.0% => interest 4.0% (60)
Year 2016 Amount 1560  interest:4.0% => interest 4.0% (62)
Year 2017 Amount 1622  interest:4.0% => interest 4.0% (65)
Year 2018 Amount 1687  interest:3.0% => interest 3.0% (51)
Year 2019 Amount 1738  interest:3.0% => interest 3.0% (52)
Year 2020 Amount 1790  interest:2.0% => interest 3.0% (54)
Year 2021 Amount 1844  interest:1.0% => interest 3.0% (55)
Final amount: 1844 profit 344 margin 23% avg margin 4%

--- Investment Block (2016): 1400, Min.interest: 3.0% -------
Year 2016 Amount 1400  interest:4.0% => interest 4.0% (56)
Year 2017 Amount 1456  interest:4.0% => interest 4.0% (58)
Year 2018 Amount 1514  interest:3.0% => interest 3.0% (45)
Year 2019 Amount 1560  interest:3.0% => interest 3.0% (47)
Year 2020 Amount 1606  interest:2.0% => interest 3.0% (48)
Year 2021 Amount 1655  interest:1.0% => interest 3.0% (50)
Final amount: 1655 profit 255 margin 18% avg margin 4%

--- Investment Block (2017): 1300, Min.interest: 3.0% -------
Year 2017 Amount 1300  interest:4.0% => interest 4.0% (52)
Year 2018 Amount 1352  interest:3.0% => interest 3.0% (41)
Year 2019 Amount 1393  interest:3.0% => interest 3.0% (42)
Year 2020 Amount 1434  interest:2.0% => interest 3.0% (43)
Year 2021 Amount 1477  interest:1.0% => interest 3.0% (44)
Final amount: 1477 profit 177 margin 14% avg margin 3%

--- Investment Block (2018): 1200, Min.interest: 1.0% -------
Year 2018 Amount 1200  interest:3.0% => interest 3.0% (36)
Year 2019 Amount 1236  interest:3.0% => interest 3.0% (37)
Year 2020 Amount 1273  interest:2.0% => interest 2.0% (25)
Year 2021 Amount 1299  interest:1.0% => interest 1.0% (13)
Final amount: 1299 profit 99 margin 8% avg margin 3%

--- Investment Block (2019): 1100, Min.interest: 1.0% -------
Year 2019 Amount 1100  interest:3.0% => interest 3.0% (33)
Year 2020 Amount 1133  interest:2.0% => interest 2.0% (23)
Year 2021 Amount 1156  interest:1.0% => interest 1.0% (12)
Final amount: 1156 profit 56 margin 5% avg margin 3%

--- Investment Block (2020): 1000, Min.interest: 1.0% -------
Year 2020 Amount 1000  interest:2.0% => interest 2.0% (20)
Year 2021 Amount 1020  interest:1.0% => interest 1.0% (10)
Final amount: 1020 profit 20 margin 2% avg margin 2%

--- Investment Block (2021): 900, Min.interest: 1.0% -------
Year 2021 Amount 900  interest:1.0% => interest 1.0% (9)
Final amount: 900 profit 0 margin 0% avg margin 0%

--- GET SUMMARY / STATS 2010-2021, 12 yrs ---
    invest: 17400, interest: 6108, total: 23508
    interest average: 2.9%, interest effective: 2.5%

In [14]:
# save data to csv
ci.to_csv()

In [15]:
# dataframe listing each capital investment block with compund interests
ci.df

        AMNT  CURR_INT  MIN_INT         2010         2011         2012         2013         2014         2015         2016         2017       2018     2019    2020   2021         TOTAL
YYYY
2010  2000.0      0.06     0.05  2000.000000     0.000000     0.000000     0.000000     0.000000     0.000000     0.000000     0.000000     0.0000     0.00     0.0    0.0   2000.000000
2011  1900.0      0.06     0.05  2120.000000  1900.000000     0.000000     0.000000     0.000000     0.000000     0.000000     0.000000     0.0000     0.00     0.0    0.0   4020.000000
2012  1800.0      0.06     0.05  2247.200000  2014.000000  1800.000000     0.000000     0.000000     0.000000     0.000000     0.000000     0.0000     0.00     0.0    0.0   6061.200000
2013  1700.0      0.06     0.05  2382.032000  2134.840000  1908.000000  1700.000000     0.000000     0.000000     0.000000     0.000000     0.0000     0.00     0.0    0.0   8124.872000
2014  1600.0      0.04     0.03  2524.953920  2262.930400  2022.480000  1802.000000  1600.000000     0.000000     0.000000     0.000000     0.0000     0.00     0.0    0.0  10212.364320
2015  1500.0      0.04     0.03  2651.201616  2376.076920  2123.604000  1892.100000  1664.000000  1500.000000     0.000000     0.000000     0.0000     0.00     0.0    0.0  12206.982536
2016  1400.0      0.04     0.03  2783.761697  2494.880766  2229.784200  1986.705000  1730.560000  1560.000000  1400.000000     0.000000     0.0000     0.00     0.0    0.0  14185.691663
2017  1300.0      0.04     0.03  2922.949782  2619.624804  2341.273410  2086.040250  1799.782400  1622.400000  1456.000000  1300.000000     0.0000     0.00     0.0    0.0  16148.070646
2018  1200.0      0.03     0.01  3069.097271  2750.606045  2458.337081  2190.342263  1871.773696  1687.296000  1514.240000  1352.000000  1200.0000     0.00     0.0    0.0  18093.692354
2019  1100.0      0.03     0.01  3222.552134  2888.136347  2581.253935  2299.859376  1927.926907  1737.914880  1559.667200  1392.560000  1236.0000  1100.00     0.0    0.0  19945.870778
2020  1000.0      0.02     0.01  3383.679741  3032.543164  2710.316631  2414.852344  1985.764714  1790.052326  1606.457216  1434.336800  1273.0800  1133.00  1000.0    0.0  21764.082937
2021   900.0      0.01     0.01  3552.863728  3184.170322  2845.832463  2535.594962  2045.337656  1843.753896  1654.650932  1477.366904  1298.5416  1155.66  1020.0  900.0  23513.772463

In [22]:
# calculate the summary table
summary_dict = ci.get_summary(2010,2021)
# contains sime indicators of calculations
print("\n",summary_dict.keys())
# the dataframe stored in the summary dict contains 
# totals and also interests and effective interest rates 
# separately for each investment block
summary_dict["df"]

--- GET SUMMARY / STATS 2010-2021, 12 yrs ---
    invest: 17400, interest: 6108, total: 23508
    interest average: 2.9%, interest effective: 2.5%

 dict_keys(['created', 'csv', 'COLUMN_INDEX', 'COLUMN_LIST', 'year_from', 'year_max', 'years', 'sum_investment', 'sum_interest', 'total', 'roi_total', 'interest_average', 'interest_effective', 'capital_increase', 'df'])

      AMNT  CURR_INT  MIN_INT  2010  2011  2012  2013  2014  2015  2016  2017  2018  2019  2020  2021  ...  I2011  I2012  I2013  I2014  I2015  I2016  I2017  I2018  I2019  I2020  I2021  ITotal  Total     ratio      Ieff
YYYY                                                                                                   ...
2010  2000      0.06     0.05  2000     0     0     0     0     0     0     0     0     0     0     0  ...      0      0      0      0      0      0      0      0      0      0      0       0   2000  1.776000  0.053602
2011  1900      0.06     0.05  2120  1900     0     0     0     0     0     0     0     0     0     0  ...      0      0      0      0      0      0      0      0      0      0      0     120   4020  1.675789  0.052984
2012  1800      0.06     0.05  2247  2014  1800     0     0     0     0     0     0     0     0     0  ...    114      0      0      0      0      0      0      0      0      0      0     241   6061  1.580556  0.052180
2013  1700      0.06     0.05  2382  2134  1908  1700     0     0     0     0     0     0     0     0  ...    120    108      0      0      0      0      0      0      0      0      0     363   8124  1.491176  0.051214
2014  1600      0.04     0.03  2524  2262  2022  1802  1600     0     0     0     0     0     0     0  ...    128    114    102      0      0      0      0      0      0      0      0     486  10210  1.278125  0.035678
2015  1500      0.04     0.03  2651  2376  2123  1892  1664  1500     0     0     0     0     0     0  ...    114    101     90     64      0      0      0      0      0      0      0     496  12206  1.228667  0.034917
2016  1400      0.04     0.03  2783  2494  2229  1986  1730  1560  1400     0     0     0     0     0  ...    118    106     94     66     60      0      0      0      0      0      0     576  14182  1.181429  0.033907
2017  1300      0.04     0.03  2922  2619  2341  2086  1799  1622  1456  1300     0     0     0     0  ...    125    112    100     69     62     56      0      0      0      0      0     663  16145  1.136154  0.032427
2018  1200      0.03     0.01  3069  2750  2458  2190  1871  1687  1514  1352  1200     0     0     0  ...    131    117    104     72     65     58     52      0      0      0      0     746  18091  1.081667  0.026513
2019  1100      0.03     0.01  3222  2888  2581  2299  1927  1737  1559  1392  1236  1100     0     0  ...    138    123    109     56     50     45     40     36      0      0      0     750  19941  1.050000  0.024695
2020  1000      0.02     0.01  3383  3032  2710  2414  1985  1790  1606  1434  1273  1133  1000     0  ...    144    129    115     58     53     47     42     37     33      0      0     819  21760  1.020000  0.020000
2021   900      0.01     0.01  3552  3184  2845  2535  2045  1843  1654  1477  1298  1155  1020   900  ...    152    135    121     60     53     48     43     25     22     20      0     848  23508  1.000000  0.000000

[12 rows x 32 columns]